*{
    padding: 0px;
    margin: 10px;
}

table,td,th{

    border: 1px solid;
    border-collapse: collapse;
    padding: 10px;
    
}

#msg{
    font-weight: bolder;
    font-size: large;
}

fieldset{
    display: flex;
    justify-content: center;
}

table{

}